.blog {
  display: flex;
  flex-direction: column;
  gap: 40px;   
  margin-top: 144px;  
}

.blog__top {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  gap: 16px;
}

.flex-end {
  justify-content: flex-end !important;  
}

.subscribe {
  margin: 120px 0;  
}

.subscribe__content {
  position: relative;  
  background-color: var(--main-blue);  
  padding: 64px 72px;
  border-radius: var(--border-radius);
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.subscribe__form {
  display: flex;
  align-items: center;
  gap: 16px; 
  justify-content: flex-start; 
  max-width: 1100px;
  width: 100%;
}

.subscribe__text {
  font-size: 80px;
  line-height: 96px;
  font-weight: 600;  
}

.textLinkDiv {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.textLink {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: var(--border-radius);
}

#textLinkConsultation {
  padding: 24px 175px;
  background-color: var(--main-blue);
  color: var(--white);
  cursor: pointer;
}

#textLinkAbout {
  padding: 24px 102px;
  background-color: var(--white);
  color: var(--main-blue);
  border: 1px solid var(--main-blue);
}

.services {
  margin-top: 144px;
}

.serviceContainer {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  gap: 16px;
  margin-top: 40px;
}

.serviceImage {
  width: 100%;
  border: 1px solid var(--main-blue);
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
  padding: 32px;
}

.wecare {
  position: absolute;
  top: 32px;
  right: 32px;
  z-index: 1;
  color: var(--white);
  font-size: 20px;
  line-height: 28px;
}

.serviceContent {
  border: 1px solid var(--border-gray);
  border-radius: var(--border-radius);
  overflow: hidden;
  padding: 32px;
}

.service__service {
  display: flex;
  gap: 24px;
}

.serviceContent__serviceList {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.serviceIndex:first-child {
  margin-top: 40px;
}

.service__round {
  width: 144px;
  height: 144px;
  border-radius: 50%;
  border: 1px solid var(--main-blue);
}

.service__content {
  flex: 1 1 auto;
  background-color: red;
}

@media (max-width: 1800px) {
  .blog {
    margin-top: 80px;
  }  
  .subscribe {
    margin: 80px 0;
  }
  .subscribe__text {
    font-size: 60px;
    line-height: 60px;
  }
  .subscribe__form {
    max-width: 840px;
  }
  .subscribe__content {
    padding: 48px;
  }
  .subscribe__text {
    font-size: 48px;
    line-height: 50px;
  }
  #textLinkConsultation {
    padding: 24px 120px;
  }
  #textLinkAbout {
    padding: 24px 80px;
  }
  .textLink {
    font-size: 18px;
    line-height: 26px;
  }
  .services {
    margin-top: 80px;
  }
}

@media (max-width: 1024px) {
  #textLinkConsultation {
    padding: 20px 90px;
  }
  #textLinkAbout {
    padding: 20px 60px;
  }
}

@media (max-width: 768px) {
  .subscribe__content {
    padding: 32px;
    border-radius: 24px;
    gap: 24px;
  }  
  .subscribe__form {
    display: grid;
    grid-template-columns: 1fr;
  }
  .subscribe__text {
    font-size: 32px;
    line-height: 40px;
  }
  #textLinkConsultation {
    padding: 16px 70px;
  }
  #textLinkAbout {
    padding: 16px 40px;
  }
  .textLinkDiv {
    margin-top: 24px;  
  }
  .textLink {
    font-size: 16px;
    line-height: 24px;
    border-radius: 24px;
  }
}

@media (max-width: 600px) {
    .blog {
      margin-top: 60px;  
    }
    .subscribe {
      margin: 60px 0 0 0;  
    }
    .subscribe__text {
      font-size: 24px;
      line-height: 32px;  
    }
    .subscribe__content {
      padding: 24px;  
    }
    .textLinkDiv {
      flex-direction: column;
      align-items: flex-start;
    }
    .textLink {
      width: 100%;
      text-align: center;
    }
}